*.pyc
*.orig
/mx.mx/env
/mx.mx/eclipse-launches/
/workingsets.xml
/.idea
/mxbuild
ecj.jar
/diagrams
/docs
/java/*/nbproject/
/java/*/build.xml
/java/*/.settings
/java/*/.classpath
/java/*/.project
/java/*/bin/
/java/*/.checkstyle
/java/*/*.iml
/java/*/.factorypath
/java/*.dist/
