*.pyc
*.orig
*.iml
/mx.mx/env
/workingsets.xml
/.idea
/mxbuild
/docs/api/build
ecj.jar
savedDeps
eclipse-launches
/diagrams
/java/*/nbproject/
/java/*/build.xml
/java/*/.settings
/java/*/.classpath
/java/*/.project
/java/*/bin/
/java/*/.checkstyle
/java/*/.factorypath
/java/*.dist/
