# overlay version
overlay = 7c0af2a1add50d92fe6e7a00ca0349f74c8e6493

gate : {
  packages : {
    "pip:astroid" : "==1.1.0"
    "pip:pylint" : "==1.1.0"
  }
  # need pyhocon fix
  downloads : {
    JAVA_HOME : {name : oraclejdk, version : "8u66", platformspecific: true}
    JDT : {name: ecj, version: "4.5.1", platformspecific: false}
    ECLIPSE : {name: eclipse, version: "4.3.0", platformspecific: true}
  }
  environment : {
    ECLIPSE_EXE : "$ECLIPSE/eclipse"
  }
  run : [
    ["./mx", "--strict-compliance", "gate", "--strict-mode"]
  ]
  timelimit : "10:00"
}

bench-test : {
  run: [
    ["./mx", "benchmark", "--results-file", "bench-results.json", "--ignore-suite-commit-info=mx", "test"]
  ]
  teardown: [
    ["bench-uploader.py", "--url", "$BENCH_SERVER_URL", "bench-results.json"]
  ]
}

builds = [
  ${gate} {capabilities : [linux, amd64, gate], name: "gate-linux-amd64"}
  ${bench-test} {capabilities : [linux, amd64, gate], name: "bench-linux-amd64"}
]
