# overlay version
overlay = 8df102201f4bece9d55579b7af1ef69051406139

# These are used in the overlay
java7 : {name : oraclejdk, version : "7",    platformspecific: true}
java8 : {name : labsjdk, version : "8u121-jvmci-0.28", platformspecific: true}
java9 : {name : labsjdk, version : "9-20170621-080948", platformspecific: true}

downloads.java : {
    JAVA_HOME : {name : oraclejdk, version : "8u66", platformspecific: true}
}

gate : {
  packages : {
    "pip:astroid" : "==1.1.0"
    "pip:pylint" : "==1.1.0"
  }
  # need pyhocon fix
  downloads : ${downloads.java} {
    JDT : {name: ecj, version: "4.5.1", platformspecific: false}
    ECLIPSE : {name: eclipse, version: "4.3.0", platformspecific: true}
  }
  environment : {
    ECLIPSE_EXE : "$ECLIPSE/eclipse"
  }
  run : [
    ["./mx", "--strict-compliance", "gate", "--strict-mode"]
  ]
  timelimit : "10:00"
}

bench-test : {
  run: [
    ["./mx", "benchmark", "--results-file", "bench-results.json", "--ignore-suite-commit-info=mx", "test"]
  ]
  teardown: [
    ["bench-uploader.py", "--url", "$BENCH_SERVER_URL", "bench-results.json"]
  ]
}

jmh-test : {
  downloads : ${downloads.java}
  setup:  [
    ["./mx", "build"]
  ]
  run: [
    ["./mx", "benchmark", "--ignore-suite-commit-info=mx", "jmh-mx:*"]
  ]
}

verifylibraryurls : {
  run : [
    ["./mx", "--strict-compliance", "-v", "verifylibraryurls"]
  ]
  timelimit : "10:00"
}

downstream-truffleruby-binary-truffle: {
  downloads: ${downloads.java}
  run: [
    [export, "MX_BINARY_SUITES=truffle"],
    ["./mx", testdownstream, --repo, ["./mx", urlrewrite, "https://github.com/graalvm/truffleruby.git"], --mx-command, "ruby_testdownstream_hello"],
  ]
  timelimit : "10:00"
}

builds = [
  ${gate} {capabilities : [linux, amd64], targets : [gate], name: "gate-linux-amd64"}
  ${bench-test} {capabilities : [linux, amd64], targets : [gate], name: "bench-linux-amd64"}
  ${jmh-test} {capabilities : [linux, amd64], targets : [gate], name: "test-jmh-linux-amd64"}
  ${verifylibraryurls} {capabilities : [linux, amd64], targets : [gate], name: "verifylibraryurls-linux-amd64"}
  ${downstream-truffleruby-binary-truffle} {capabilities : [linux, amd64], targets : [gate], name: "downstream-truffleruby-binary-truffle"}
]
